@import 'tailwindcss';

@font-face {
  font-family: 'Inter:Black';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: 'Inter:Light';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Inter:Regular';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 400;
}
